@page
@model UsersModel

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Users != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No users</p>
}
